@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-gray-900 text-white;
    background-image: url("../assets/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-font-smoothing: antialiased;
}